In [1]:
import os
import difflib
import zipfile
import lxml.etree as etree
import random
import re
import sys
from datetime import datetime
import pandas as pd

import django
import platform

if platform.node() == "srv-mcc-apsis":
    sys.path.append('/home/leey/tmv/BasicBrowser/')
    
else:
    # local paths
    sys.path.append('/home/leey/Documents/Data/tmv/BasicBrowser/')
    
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "BasicBrowser.settings")
django.setup()

# import from appended path
import parliament.models as pm
import cities.models as cmodels
from django.contrib.auth.models import User

from utils import *

/home/leey/venv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)
Slow version of gensim.models.doc2vec is being used
Slow version of Fasttext is being used

# ParlPeriod

In [5]:
parlperiods = pd.read_csv('APH_parlperiod.csv')
parlperiods

        Parliament     Elected   Dissolved
0            First   30.3.1901  23.11.1903
1           Second  16.12.1903   5.11.1906
2            Third  12.12.1906   19.2.1910
3           Fourth   13.4.1910   23.4.1913
4            Fifth   31.5.1913   30.7.1914
5            Sixth    5.9.1914   26.3.1917
6          Seventh    5.5.1917   3.11.1919
7           Eighth  13.12.1919   6.11.1922
8            Ninth  16.12.1922   3.10.1925
9            Tenth  14.11.1925   9.10.1928
10        Eleventh  17.11.1928   16.9.1929
11         Twelfth  12.10.1929  27.11.1931
12      Thirteenth  19.12.1931    7.8.1934
13      Fourteenth   15.9.1934   21.9.1937
14       Fifteenth  23.10.1937   27.8.1940
15       Sixteenth   21.9.1940    7.7.1943
16     Seventeenth   21.8.1943   16.8.1946
17      Eighteenth   28.9.1946  31.10.1949
18      Nineteenth  10.12.1949   19.3.1951
19       Twentieth   28.4.1951   21.4.1954
20    Twenty-first   29.5.1954   4.11.1955
21   Twenty-second  10.12.1955  14.10.1958
22    Twenty-third  22.11.1958   2.11.1961
23   Twenty-fourth   9.12.1961   1.11.1963
24    Twenty-fifth  30.11.1963  31.10.1966
25    Twenty-sixth  26.11.1966   29.9.1969
26  Twenty-seventh  25.10.1969   2.11.1972
27   Twenty-eighth   2.12.1972   11.4.1974
28    Twenty-ninth   18.5.1974  11.11.1975
29       Thirtieth  13.12.1975  10.11.1977
30    Thirty-first  10.12.1977   19.9.1980
31   Thirty-second  18.10.1980    4.2.1983
32    Thirty-third    5.3.1983  26.10.1984
33   Thirty-fourth   1.12.1984    5.6.1987
34    Thirty-fifth   11.7.1987   19.2.1990
35    Thirty-sixth   24.3.1990    8.2.1993
36  Thirty-seventh   13.3.1993   29.1.1996
37   Thirty-eighth    2.3.1996   31.8.1998
38    Thirty-ninth   3.10.1998   8.10.2001
39        Fortieth  10.11.2001   31.8.2004
40     Forty-first   9.10.2004  17.10.2007
41    Forty-second  24.11.2007   19.7.2010
42     Forty-third   21.8.2010    5.8.2013
43    Forty-fourth    7.9.2013    9.5.2016
44     Forty-fifth    2.7.2016         NaN

In [10]:
parlperiods_past = parlperiods[:-1]

In [11]:
add_parlperiod(parlperiods_past)

# Add Speaker Roles

In [8]:
speakers = pd.read_csv('APH_speakers.csv')
speakers_past = speakers[:-1]
speakers_past

In [3]:
add_speaker(speakers_past)

Politician not found for name: John McLeay
Politician not found for name: John McLeay
Politician not found for name: John McLeay
Politician not found for name: John McLeay
Politician not found for name: Henry Jenkins
Politician not found for name: Henry Jenkins
Politician not found for name: Henry Jenkins
Politician not found for name: Henry Jenkins
Politician not found for name: Anthony Smith

### adding deputy speakers

In [2]:
dep_speakers = pd.read_csv('APH_deputy_speakers.csv')
dep_speakers_past = dep_speakers[:-1]
dep_speakers_past

,Start_Date,End_Date,Last_Name,Title,Prefix,First_Name,Middle_Names,Additional
0,4.5.1993,29.1.1996,Jenkins,NaN,NaN,Henry,Alfred,NaN
1,30.4.1996,31.08.1998,Nehl,NaN,NaN,Garry,Barr,NaN
2,03.10.1998,8.10.2001,Nehl,NaN,NaN,Garry,Barr,NaN
3,12.2.2002,31.8.2004,Causley,the Hon.,NaN,Ian,Raymond,NaN
4,16.11.2004,17.10.2007,Causley,the Hon.,NaN,Ian,Raymond,NaN
5,12.2.2008,19.7.2010,Burke,NaN,NaN,Anna,Elizabeth,NaN
6,28.9.2010,24.11.2011,Slipper,the Hon.,NaN,Peter,Neil,NaN
7,24.11.2011,9.10.2012,Burke,NaN,NaN,Anna,Elizabeth,NaN
8,9.10.2012,5.8.2013,Scott,the Hon.,NaN,Bruce,Craig,NaN
9,12.11.2013,9.5.2016,Scott,the Hon.,NaN,Bruce,Craig,NaN

In [4]:
add_speaker(dep_speakers_past, role='Deputy Speaker')

Politician not found for name: Henry Jenkins
Done

### adding second deputy speakers

In [5]:
sec_dep_speakers = pd.read_csv('APH_second_deputy_speakers.csv')
sec_dep_speakers

,Start_Date,End_Date,Last_Name,Title,Prefix,First_Name,Middle_Names,Additional
0,3.3.1994,29.1.1996,Rocher,NaN,NaN,Allan,Charles,NaN
1,30.4.1996,31.8.1998,Jenkins,NaN,NaN,Henry,Alfred,NaN
2,10.11.1998,8.10.2001,Jenkins,NaN,NaN,Henry,Alfred,NaN
3,12.2.2002,31.8.2004,Jenkins,NaN,NaN,Henry,Alfred,NaN
4,16.11.2004,17.10.2007,Jenkins,NaN,NaN,Henry,Alfred,NaN
5,12.2.2008,19.7.2010,Scott,the Hon.,NaN,Bruce,Craig,NaN
6,28.9.2010,9.10.2012,Scott,the Hon.,NaN,Bruce,Craig,NaN
7,10.10.2012,5.8.2013,Georganas,NaN,NaN,Steven,NaN,NaN
8,12.11.2013,9.5.2016,Mitchell,NaN,NaN,Robert,George,NaN

In [6]:
add_speaker(sec_dep_speakers, role='Second Deputy Speaker')

Politician not found for name: Henry Jenkins
Politician not found for name: Henry Jenkins
Politician not found for name: Henry Jenkins
Politician not found for name: Henry Jenkins
Done

## add entries manually

In [9]:
df = speakers_past

In [ ]:
pk1 = pm.Person.objects.filter(surname='McLeay', first_name='John', information_source='AustralianPoliticians')[0].pk

In [15]:
for i in df.index[24:28]:
    entry = df.loc[i]
    person = pm.Person.objects.get(pk=pk1)
    
    #### Dates
    start_date = datetime.strptime(entry['Start_Date'].strip(), '%d.%m.%Y')
    end_date = datetime.strptime(entry['End_Date'].strip(), '%d.%m.%Y')

    n_years = end_date.year - start_date.year
    years = []
    years.append(start_date.year)
    if n_years > 0:
        for i in range(1, n_years):
            years.append(start_date.year+i)
    years.append(end_date.year)

    #### Find parlperiod
    pp = pm.ParlPeriod.objects.get(
    parliament = parl,
    start_date__lte = start_date,
    end_date__gte = end_date
    )

    post, created = pm.Post.objects.get_or_create(
    person = person,
    title = 'Speaker',
    parlperiod = pp,
    years = years,
    start_date = start_date,
    end_date = end_date
    )

    post.save()

In [7]:
pk2 = pm.Person.objects.filter(surname='Jenkins', first_name='Henry', information_source='AustralianPoliticians')[0].pk

15088

In [16]:
for i in df.index[36:38]:
    entry = df.loc[i]
    person = pm.Person.objects.get(pk=pk2)
    
    #### Dates
    start_date = datetime.strptime(entry['Start_Date'].strip(), '%d.%m.%Y')
    end_date = datetime.strptime(entry['End_Date'].strip(), '%d.%m.%Y')

    n_years = end_date.year - start_date.year
    years = []
    years.append(start_date.year)
    if n_years > 0:
        for i in range(1, n_years):
            years.append(start_date.year+i)
    years.append(end_date.year)

    #### Find parlperiod
    pp = pm.ParlPeriod.objects.get(
    parliament = parl,
    start_date__lte = start_date,
    end_date__gte = end_date
    )

    post, created = pm.Post.objects.get_or_create(
    person = person,
    title = 'Speaker',
    parlperiod = pp,
    years = years,
    start_date = start_date,
    end_date = end_date
    )

    post.save()

In [8]:
pk3 = pm.Person.objects.filter(surname='Jenkins', first_name='Henry', information_source='AustralianPoliticians')[1].pk

15090

In [17]:
for i in df.index[48:50]:
    entry = df.loc[i]
    person = pm.Person.objects.get(pk=pk3)
    
    #### Dates
    start_date = datetime.strptime(entry['Start_Date'].strip(), '%d.%m.%Y')
    end_date = datetime.strptime(entry['End_Date'].strip(), '%d.%m.%Y')

    n_years = end_date.year - start_date.year
    years = []
    years.append(start_date.year)
    if n_years > 0:
        for i in range(1, n_years):
            years.append(start_date.year+i)
    years.append(end_date.year)

    #### Find parlperiod
    pp = pm.ParlPeriod.objects.get(
    parliament = parl,
    start_date__lte = start_date,
    end_date__gte = end_date
    )

    post, created = pm.Post.objects.get_or_create(
    person = person,
    title = 'Speaker',
    parlperiod = pp,
    years = years,
    start_date = start_date,
    end_date = end_date
    )

    post.save()

In [11]:
pk4 = pm.Person.objects.filter(surname='Smith', first_name='Anthony', information_source='AustralianPoliticians')[1].pk

15758

In [18]:
entry = df.loc[53]
person = pm.Person.objects.get(pk=pk4)

#### Dates
start_date = datetime.strptime(entry['Start_Date'].strip(), '%d.%m.%Y')
end_date = datetime.strptime(entry['End_Date'].strip(), '%d.%m.%Y')

n_years = end_date.year - start_date.year
years = []
years.append(start_date.year)
if n_years > 0:
    for i in range(1, n_years):
        years.append(start_date.year+i)
years.append(end_date.year)

#### Find parlperiod
pp = pm.ParlPeriod.objects.get(
parliament = parl,
start_date__lte = start_date,
end_date__gte = end_date
)

post, created = pm.Post.objects.get_or_create(
person = person,
title = 'Speaker',
parlperiod = pp,
years = years,
start_date = start_date,
end_date = end_date
)

post.save()

In [ ]:
pk5 = pm.Person.objects.filter(surname='Jenkins', first_name='Henry', information_source='AustralianPoliticians')[1].pk

In [10]:
entry = dep_speakers_past.loc[0]
person = pm.Person.objects.get(pk=pk5)

#### Dates
start_date = datetime.strptime(entry['Start_Date'].strip(), '%d.%m.%Y')
end_date = datetime.strptime(entry['End_Date'].strip(), '%d.%m.%Y')

n_years = end_date.year - start_date.year
years = []
years.append(start_date.year)
if n_years > 0:
    for i in range(1, n_years):
        years.append(start_date.year+i)
years.append(end_date.year)

#### Find parlperiod
pp = pm.ParlPeriod.objects.get(
parliament = parl,
start_date__lte = start_date,
end_date__gte = end_date
)

post, created = pm.Post.objects.get_or_create(
person = person,
title = 'Deputy Speaker',
parlperiod = pp,
years = years,
start_date = start_date,
end_date = end_date
)

post.save()

In [16]:
for i in sec_dep_speakers.index[1:5]:
    entry = sec_dep_speakers.loc[i]
    person = pm.Person.objects.get(pk=pk5)
    
    #### Dates
    start_date = datetime.strptime(entry['Start_Date'].strip(), '%d.%m.%Y')
    end_date = datetime.strptime(entry['End_Date'].strip(), '%d.%m.%Y')

    n_years = end_date.year - start_date.year
    years = []
    years.append(start_date.year)
    if n_years > 0:
        for i in range(1, n_years):
            years.append(start_date.year+i)
    years.append(end_date.year)

    #### Find parlperiod
    pp = pm.ParlPeriod.objects.get(
    parliament = parl,
    start_date__lte = start_date,
    end_date__gte = end_date
    )

    post, created = pm.Post.objects.get_or_create(
    person = person,
    title = 'Second Deputy Speaker',
    parlperiod = pp,
    years = years,
    start_date = start_date,
    end_date = end_date
    )

    post.save()