In [1]:
import os
import difflib
import zipfile
import lxml.etree as etree
import random
import re
import sys
from datetime import datetime
import pandas as pd

import django
import platform

sys.path.append('/home/leey/Documents/Data/tmv/BasicBrowser/')
os.environ.setdefault("DJANGO_SETTINGS_MODULE", "BasicBrowser.settings")
django.setup()

# import from appended path
import parliament.models as pm
import cities.models as cmodels
from django.contrib.auth.models import User

from aph_model_builder import *

/home/leey/venv/lib/python3.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)
Slow version of gensim.models.doc2vec is being used
Slow version of Fasttext is being used

## Politician Parser

In [2]:
speakers = pd.read_csv('APH_leaders.csv')
#speakers = speakers.replace('NaN, np.nan')

In [3]:
speakers_past = speakers[:-1]
speakers_past

,Start_Date,End_Date,Last_Name,Title,Prefix,First_Name,Middle_Names,Additional
0,9.5.1901,23.11.1903,Holder,the Hon,Sir,Frederick,William,KCMG
1,2.3.1904,5.11.1906,Holder,the Hon,Sir,Frederick,William,KCMG
2,20.2.1907,23.7.1909,Holder,the Hon,Sir,Frederick,William,KCMG
3,28.7.1909,19.2.1910,Salmon,the Hon,NaN,Charles,Carty,NaN
4,1.7.1910,23.4.1913,McDonald,the Hon,NaN,Charles,NaN,NaN
5,9.7.1913,30.7.1914,Johnson,the Hon,NaN,William,Elliot,NaN
6,8.10.1914,26.3.1917,McDonald,the Hon,NaN,Charles,NaN,NaN
7,14.6.1917,3.11.1919,Johnson,the Hon,NaN,William,Elliot,(later Sir Elliot KCMG)
8,26.2.1920,6.11.1922,Johnson,the Hon,NaN,William,Elliot,(later Sir Elliot KCMG)
9,28.2.1923,3.10.1925,Watt,the Rt Hon,NaN,William,Alexander,NaN
10,13.1.1926,9.10.1928,Groom,the Hon,Sir,Littleton,Ernest,KCMG KC
11,6.2.1929,16.9.1929,Groom,the Hon,Sir,Littleton,Ernest,KCMG KC
12,20.11.1929,27.11.1931,Makin,the Hon,NaN,Norman,John Oswald,NaN
13,17.2.1932,7.8.1934,Mackay,the Hon,NaN,George,Hugh,NaN
14,23.10.1934,21.9.1937,Bell,the Hon,NaN,George,John,DSO VD
15,30.11.1937,27.8.1940,Bell,the Hon,NaN,George,John,DSO VD
16,20.11.1940,21.6.1943,Nairn,the Hon,NaN,Walter,Maxwell,NaN
17,22.6.1943,7.7.1943,Rosevear,the Hon,NaN,John,Solomon,NaN
18,23.9.1943,16.8.1946,Rosevear,the Hon,NaN,John,Solomon,NaN
19,6.11.1946,31.10.1949,Rosevear,the Hon,NaN,John,Solomon,NaN
20,22.2.1950,19.3.1951,Cameron,the Hon,NaN,Archie,Galbraith,NaN
21,12.6.1951,21.4.1954,Cameron,the Hon,NaN,Archie,Galbraith,NaN
22,4.8.1954,4.11.1955,Cameron,the Hon,NaN,Archie,Galbraith,NaN
23,15.2.1956,9.8.1956,Cameron,the Hon,NaN,Archie,Galbraith,NaN
24,29.8.1956,14.10.1958,McLeay,the Hon,NaN,John,NaN,MM (later Sir John KCMG MM)
25,17.2.1959,2.11.1961,McLeay,the Hon,NaN,John,NaN,MM (later Sir John KCMG MM)
26,20.2.1962,1.11.1963,McLeay,the Hon,NaN,John,NaN,MM (later Sir John KCMG MM)
27,25.2.1964,31.10.1966,McLeay,the Hon,NaN,John,NaN,MM (later Sir John KCMG MM)
28,21.2.1967,29.9.1969,Aston,the Hon,NaN,William,John,(later Sir William KCMG)
29,25.11.1969,2.11.1972,Aston,the Hon,NaN,William,John,(later Sir William KCMG)
30,27.2.1973,11.4.1974,Cope,the Hon,NaN,James,Francis,NaN
31,9.7.1974,27.2.1975,Cope,the Hon,NaN,James,Francis,NaN
32,27.2.1975,11.11.1975,Scholes,the Hon,NaN,Gordon,Glen Denton,NaN
33,17.2.1976,10.11.1977,Snedden,the Rt Hon,NaN,Billy,Mackie,QC (later Sir Billy KCMG QC
34,21.2.1978,19.9.1980,Snedden,the Rt Hon,NaN,Billy,Mackie,QC (later Sir Billy KCMG QC
35,25.11.1980,4.2.1983,Snedden,the Rt Hon,NaN,Billy,Mackie,QC (later Sir Billy KCMG QC
36,21.4.1983,26.10.1984,Jenkins,the Hon,Dr,Henry,Alfred,NaN
37,21.2.1985,20.12.1985,Jenkins,the Hon,Dr,Henry,Alfred,NaN
38,11.2.1986,5.6.1987,Child,the Hon,NaN,Joan,NaN,NaN
39,14.9.1987,28.8.1989,Child,the Hon,NaN,Joan,NaN,NaN
40,29.8.1989,22.12.1989,McLeay,the Hon,NaN,Leo,Boyce,NaN
41,8.5.1990,8.2.1993,McLeay,the Hon,NaN,Leo,Boyce,NaN
42,4.5.1993,29.1.1996,Martin,the Hon,NaN,Stephen,Paul,NaN
43,30.4.1996,3.3.1998,Halverson,the Hon,NaN,Robert,George,NaN
44,4.3.1998,31.8.1998,Sinclair,the Rt Hon,NaN,Ian,McCahon,NaN
45,10.11.1998,8.10.2001,Andrew,the Hon,NaN,John,Neil,NaN
46,12.2.2002,31.8.2004,Andrew,the Hon,NaN,John,Neil,NaN
47,16.11.2004,17.10.2007,Hawker,the Hon,NaN,David,Peter Maxwell,NaN
48,12.2.2008,19.7.2010,Jenkins,NaN,NaN,Henry,Alfred,NaN
49,28.9.2010,24.11.2011,Jenkins,NaN,NaN,Henry,Alfred,NaN
50,24.11.2011,9.10.2012,Slipper,the Hon,NaN,Peter,Neil,NaN
51,9.10.2012,5.8.2013,Burke,NaN,NaN,Anna,Elizabeth,NaN
52,12.11.2013,2.8.2015,Bishop,the Hon,NaN,Bronwyn,Kathleen,NaN
53,10.8.2015,9.5.2016,Smith,the Hon,NaN,Anthony,David Hawthorn,NaN

In [6]:
df = speakers_past

In [25]:
entry = df.loc[5]
surname = entry['Last_Name']
first_name = entry['First_Name']
middle_name = entry['Middle_Names']

person = pm.Person.objects.filter(
surname = surname,
first_name = first_name,
information_source = "AustralianPoliticians"
)

person = person.filter(alt_first_names__contains=[middle_name])[0]

print(person.clean_name, person.pk, person.information_source)

William Johnson 15097 AustralianPoliticians

In [4]:
add_speaker(speakers_past)

In [1]:
# using iterrows()
def add_speaker(df):
    """Parses House Speakers from list to database"""

    for entry in df.iterrows():
        surname = entry['Last_Name']
        first_name = entry['First_Name']

        person = pm.Person.objects.get_or_create(
        surname = surname,
        first_name = first_name
        )
        #### Names
        #middle_names = []
        #for name in entry.Middle_Names:
        #    person.alt_first_names = middle_names.append(name)

        person.name_id = '10000'
        person.title = entry['Prefix']
        person.adel = entry['Title']
        
        #### Parliamentary periods
        person.positions = ['Speaker']

        person.save()

        post = pm.Post.objects.get_or_create(
        person = person,
        title = ['Speaker']
        )

        start_date = datetime.strptime(entry[Start_Date], '%d.%m.%Y')
        end_date = datetime.strptime(entry[End_Date], '%d.%m.%Y')

        post.start_date = start_date
        post.end_date = end_date
        post.save()

## Models Builder

### ParlPeriod

In [5]:
parlperiods = pd.read_csv('APH_parlperiod.csv')
parlperiods

        Parliament     Elected   Dissolved
0            First   30.3.1901  23.11.1903
1           Second  16.12.1903   5.11.1906
2            Third  12.12.1906   19.2.1910
3           Fourth   13.4.1910   23.4.1913
4            Fifth   31.5.1913   30.7.1914
5            Sixth    5.9.1914   26.3.1917
6          Seventh    5.5.1917   3.11.1919
7           Eighth  13.12.1919   6.11.1922
8            Ninth  16.12.1922   3.10.1925
9            Tenth  14.11.1925   9.10.1928
10        Eleventh  17.11.1928   16.9.1929
11         Twelfth  12.10.1929  27.11.1931
12      Thirteenth  19.12.1931    7.8.1934
13      Fourteenth   15.9.1934   21.9.1937
14       Fifteenth  23.10.1937   27.8.1940
15       Sixteenth   21.9.1940    7.7.1943
16     Seventeenth   21.8.1943   16.8.1946
17      Eighteenth   28.9.1946  31.10.1949
18      Nineteenth  10.12.1949   19.3.1951
19       Twentieth   28.4.1951   21.4.1954
20    Twenty-first   29.5.1954   4.11.1955
21   Twenty-second  10.12.1955  14.10.1958
22    Twenty-third  22.11.1958   2.11.1961
23   Twenty-fourth   9.12.1961   1.11.1963
24    Twenty-fifth  30.11.1963  31.10.1966
25    Twenty-sixth  26.11.1966   29.9.1969
26  Twenty-seventh  25.10.1969   2.11.1972
27   Twenty-eighth   2.12.1972   11.4.1974
28    Twenty-ninth   18.5.1974  11.11.1975
29       Thirtieth  13.12.1975  10.11.1977
30    Thirty-first  10.12.1977   19.9.1980
31   Thirty-second  18.10.1980    4.2.1983
32    Thirty-third    5.3.1983  26.10.1984
33   Thirty-fourth   1.12.1984    5.6.1987
34    Thirty-fifth   11.7.1987   19.2.1990
35    Thirty-sixth   24.3.1990    8.2.1993
36  Thirty-seventh   13.3.1993   29.1.1996
37   Thirty-eighth    2.3.1996   31.8.1998
38    Thirty-ninth   3.10.1998   8.10.2001
39        Fortieth  10.11.2001   31.8.2004
40     Forty-first   9.10.2004  17.10.2007
41    Forty-second  24.11.2007   19.7.2010
42     Forty-third   21.8.2010    5.8.2013
43    Forty-fourth    7.9.2013    9.5.2016
44     Forty-fifth    2.7.2016         NaN

In [10]:
parlperiods_past = parlperiods[:-1]

In [11]:
add_parlperiod(parlperiods_past)